/* ------------------GOOGLE FONTS --------------------*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/*specifity*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*---------------------layout of main page-----------------*/
#hero{
  background-image:url("IMAGES/back.jpg");
  margin-left: 200px;
  display: block;
  max-width: 100%;
  max-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

/* Pseudo elements - generated content ::after*/
#hero::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .3;
  z-index: -1;
}

#hero h1{
  display: block;
  width: fit-content;
  font-size: 6vw;
  position: relative;
  color : transparent;
  /*animations*/
  animation: text_reveal .5s ease forwards;
  animation-delay: 1s;
}
#hero h1 span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0vw;
  background-color: #99A799;
  /*animations*/
  animation: text_reveal_box 1s ease;
  animation-delay: .3s;
}
/*nth pseudo class*/
#hero h1:nth-child(1) span{
  animation-delay: 1s;/*animations*/
}
#hero h1:nth-child(2) span{
  animation-delay: 2s;/*animations*/
}
#hero h1:nth-child(3) span{
  animation-delay: 3s;/*animations*/
}

/* nth pseudo class */
#hero h1:nth-child(1){
  animation-delay: 1s;/*animations*/
}

#hero h1:nth-child(2){
  animation-delay: 2s;/*animations*/
}

#hero h1:nth-child(3){
  animation-delay: 3s;/*animations*/
}

/*design for the learn more button*/
#hero .cta{
  display: inline-block;
  padding: 10px 30px;
  color: #99A799;
  background-color: transparent;
  border: 10px solid #99A799;
  font-size: 2vw;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
  transition: .3s ease; /*delay  for the transition effect.*/
  transition-property: background-color, color;

}

/* user action pseudo class */
#hero .cta:hover{
  color: white;
  background-color: #99A799;

}

/*animation layout box*/
@keyframes text_reveal_box{
  50%{
    width: 100%;
    left: 0;
  }
  100%{
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal{
  100%{
    color: white;
  }
}

/*-------------------------styling the sidenav bar-----------------*/
.sidebar{
  width: 200px;
  background: #99A799;
  position: fixed;
  height: 100vh;
  overflow: auto;
  padding: 30px 0;
  z-index: 10;
}

.sidebar h2{
  color: #fff;
  /* transforms */
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  /*applying shadows to the text or h2 "MATHU" in sidebar*/
  text-shadow: 2px 2px black;
}

/*specifity*/
.sidebar ul li a{
  color: #fff;
  display: block;
  padding: 15px;
  /*semi-transparetn or opacity for the borders*/
  border-bottom: 1px solid rgba(0,0,0,0.05); /*borders*/
  border-top: 1px solid rgba(225,225,225,0.05);
}

.sidebar ul li a .fas{
  width:25px;
}

/* user action pseudo class */
.sidebar ul li:hover{
  background: #ADC2A9;
}

.sidebar ul li:hover a{
  color: #435560;
}

.sidebar .SocialMedia{
  position: absolute;
  bottom: 0;
  left: 50%;
  /* transforms */
  transform: translateX(-50%);
  display: flex;
}

.sidebar .SocialMedia a{
  display: block;
  width: 40px;
  background: #89B5AF;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 5px;
  color: #FEF5ED;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

/*------for larger devices-------*/
@media screen and (max-width:1108px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  #hero{
    margin-left: 0px;
  }

  .sidebar ul li a{
    float: left;
    padding: 50px;
    font-size: 18px
  }

  .sidebar ul li a .fas{
    width:30px;
    font-size: 18px;
  }

  .sidebar .SocialMedia a{
    width: 28px;
    height: 28px;
  }
}

/*-----------For ipad-mainpage--------------- */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: relative;
    overflow: hidden;

  }

  #hero{
    margin-left: 0px;
  }

  .sidebar ul li a{
    float: left;
    padding: 50px;
    font-size: 18px
  }

  .sidebar ul li a .fas{
    width:30px;
    font-size: 18px;
  }

  .sidebar .SocialMedia a{
    width: 28px;
    height: 28px;
  }
}

/*--------For iphone X-mainpage----------- */
@media screen and (max-width: 375px) {
  .sidebar {
    text-align: center;
    float: none;
  }

  #hero{
    margin-left: 0px;
  }

  .sidebar ul li a{
    padding: 2px;
    font-size: 18px;
  }
  .sidebar .SocialMedia a{
    width: 28px;
    height: 28px;
  }
}

/*-============================About page============================*/

.dp img{
  margin-top: 1.6666666666666667vw;
  margin-bottom: 2.5vw;
  width: 20.833333333333332vw;
  height: 20.833333333333332vw;
  margin-right: 10.416666666666666vw;
  max-width: 100%;
}

/*Attribute selector*/
 [title~=myphoto]{
   border: 0.10416666666666667vw solid #32C1CD;
   border-radius: 50%;
 }

/*child combinator*/
div.thisIsMe>article{ /*child combinator has been used here to make the paragraph purple in about page.*/
  color: #544179;
}

.thisIsMe{
  padding: 0 2.5vw;
  background: url("IMAGES/about_bg2.jpg");
  margin-left: 200px;
  text-align: center;
  max-width: 100%;
  min-height: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.thisIsMe h1{
  color: white;
  font-size: 2.5vw;
  font-weight: 400;
  letter-spacing: 5px;
  margin-bottom: 2rem;
  /*text shadow for about page heading 1*/
  text-shadow: 2px 2px black;
  margin-right: 200px;
}



.thisIsMe h2{
  font-size: 1.3vw;
  /*text shadow for about page heading 2*/
  text-shadow: 2px 2px black;
  margin-right: 200px;

}

 /*Relatinal selector -adjacent sibling selector*/
.thisIsMe h1 + h2{
  color: grey;
  font-weight: bold;
}

.thisIsMe p{
  margin-right: 200px;
  margin-left: 50px;
  font-size:0.89vw;
  border: 1px solid;
  padding: 20px;
  /*box shadow for about page paragraph*/
  box-shadow: 0.2604166666666667vw 0.3125vw #E2C275;
  background-color: #89B5AF;
  line-height: 1.4;
  /*Text effect such as word break to prevent the flow of text
  outside the box*/
  word-break: break-all;
}

/*Attribute selector to change the color of the key words in paragraph*/
a[target]{
  background-color: #E2C275;
}

/*structural selctors*/
p i:first-child{
  color: black;
}

.myintro{
  width: 100%;
  margin-left: 200px;
  padding: 20px;
  margin-right: 200px;
}

.collab{
  display: inline-block;
  color: #99A799;
  background-color: transparent;
  font-size: 1rem;
  text-decoration: none;
  margin-right: 200px;
  padding: 10px 30px;
  border-radius: 5px;             /* rounder corners*/
  transition: background 0.5s;
}

/* user action pseudo class */
.collab:hover{
  color: white;
  background-color: #99A799;
}

/*--------------------intersectingpoint-aboutpage----------------------------------------- */
@media screen and (max-width:1108px) {
    .thisIsMe{
      margin-left: 0px;
      margin-right: 0px;
    }
}
/*--------------------For ipad-aboutpage----------------------------------------- */
@media screen and (max-width: 768px) {
    .thisIsMe{
      margin-left: 0px;
      margin-right: 0px;
    }
}
/*--------------------For iphone X-aboutpage----------------------------------------- */
@media screen and (max-width: 375px) {
  .thisIsMe{
    margin-left: 0px;
    margin-right: 0px;
  }
}

/*==========================Projects page =====================*/
/* Gradients */
.project-container{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(IMAGES/contact_bg3.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

.row{
  display:flex;
  height: 88%;
  align-items: center;

}
.col{
  margin-left: 200px;
  flex-basis: 50%;
}
.col :not(h1) { /*negation pseudo class made paragraph and button white color*/
  color: white;
}
.col h1{
  color: #fff;
  font-size: 5vw;
}
/* Gradients for project*/
.gradient-text {
  background-color: red;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}


.col p{
  font-size: 1vw;
  line-height: 15px;
  padding: 2%;

}
button:only-child{  /*only child  structural pseudo class*/
  margin-left: 12px;
  width: 9vw;
  color:#000;
  font-size: 0.7vw;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}

button:only-child:hover{
  color:white;
  background-color: #99A799;
}

/*styling card layout*/
.card{
  width: 230px;
  height:260px;
  display: inline-block;
  border-radius: 10px;
  padding:15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}
/*adding box shadow for the project title box*/
.card h5{
  color: yellow;
  text-align: center;
  background-color: black;
  box-shadow: 2px 3px white;
}
/*adding images for the cards*/
.card1{
  background-image: url(IMAGES/deathsnap.jpg);
}

.card2{
  background-image: url(IMAGES/share.jpg);
}

.card3{
  background-image: url(IMAGES/dotnet.jpg);
}

.card4{
  background-image: url(IMAGES/jinx.jpg);
}

.card:hover{
  transform: translateY(-10px);
}

/*-----------for large devices inspect------------*/
@media screen and (max-width: 1590px) {
  .project-container{
    width: 100vw;
    height: 100vh;
  }
  .card{
    width: 100px;
    height:130px;
    padding: 20px 30px;
  }
}
/*--------------------For ipad-projectpage---------------------- */
@media screen and (max-width: 886px) {
  .project-container{
    width: 100vw;
    height: 100vh;
  }
  .col{
    margin-left: 0px;
  }
  .card{
    width: 100px;
    height:130px;
    padding: 20px 30px;
  }
}

/*==============================Contact page=====================*/
.contact-form{
  background: transparent;
  position: relative;
  width: 100%;
  max-width: 700px;
  padding: 50px;
  /*styling the border for the form*/
  border: 1px solid rgba(255,255,255,0.25);
  border-right:  1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter:blur(25px);
  color: white;

}

/*specifity*/
.contact-form h1{
  width: 100%;
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.newsletter{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  width: 100vw;
  background: url("IMAGES/contact_bg6.jpg");
  background-repeat: no-repeat;
  z-index: -10;
}

.contact-form-text{
  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 16px 0;
  border: 0;
  background: #D5ECC2;
  padding: 20px 40px;
  transition: 0.5s;
  color: black;
}

.contact-form-text:hover{
  box-shadow: 0 0 10px 4px #34495e;
}

/*validity for the contact page form*/
.contact-form-text:invalid {
  border-bottom: 2px solid red;
}

.contact-form-text:focus {
  border-bottom: 2px solid blue;
}

textarea.contact-form-text {
  resize: none;
  height: 120px;
}
/* Pesudo element generated content */
input::placeholder {
  color: blue;
}

textarea::placeholder {
  color: blue;
}

.contact-form-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: .5s;
}

.contact-form-btn:hover{
background: #2980b9;
}

footer{
  z-index: -1;
}
footer p{
  position: fixed;
  margin-left: 50px;
  text-align: center;
  bottom: 0;
  width: 100%;
  background-color: #34495e;
  color: white;
  text-align: center;
}

/*--------------------For iphone X-contactpage----------------------------------------- */
@media screen and (max-width: 375px) {
  .contact-form h1{
    font-size: 30px;
  }
  .contact-form-text{
      margin: 16px 0;
      padding: 10px 20px;
  }
}
